<details>

<summary>
<div class="headline" markdown="1">
### ![]({{ '/assets/img/distribuce/' | append: include.logo | relative_url }}) {{ include.name }}
{:#{{ include.id }}}
</div>

<ul class="distro-badges">
  {% if include.advanced == 'true' %}<li><i class="fas fa-user-cog" title="vhodné pouze pro pokročilé uživatele"></i></li>{% endif %}
  {% if include.czech == 'true' %}<li><img src="{{ '/assets/img/layout/czech-flag.svg' | relative_url }}" style="border: 1px solid #ddd" title="v češtině" alt="cs" /></li>{% endif %}
</ul>
</summary>

<div>
  {% if include.screenshot_preview %}
  <a href="{{ '/assets/img/screenshots/' | append: include.screenshot_full | relative_url }}" class="distro-screenshot">
    <img src="{{ '/assets/img/screenshots/' | append: include.screenshot_preview | relative_url }}" alt="" />
  </a>
  {% endif %}
  {{ include.text | markdownify }}
  <ul class="distro-links">
    {% if include.community %}<li><a href="{{ include.community_link }}"><i class="fas fa-users"></i> {{ include.community }}</a></li>{% endif %}
    {% if include.support %}<li><a href="{{ include.support_link }}"><i class="far fa-life-ring"></i> {{ include.support }}</a></li>{% endif %}
    {% if include.website %}<li><a href="{{ include.website_link }}"><i class="fas fa-globe"></i> {{ include.website }}</a></li>{% endif %}
    {% if include.download %}<li><a href="{{ include.download_link }}"><i class="fas fa-download"></i> {{ include.download }}</a></li>{% endif %}
  </ul>
</div>

</details>
