<footer class="bd-footer bg-body-tertiary text-center pt-2 pb-2">
  <div class="container text-body-secondary">
    <div class="row">
      <div>
        <a class="d-inline-flex align-items-center text-body-emphasis text-decoration-none" href="{% link _pages/propagace.md %}">
          <i class="fab fa-linux"></i>
          Propagujte Linux s tučňáčí tváří
        </a>
        <ul class="list-unstyled">
          <li class="mb-1"><a href="{{ '/' | relative_url }}">Linux.cz</a> je komunitní stránka a rozcestník k verzím Linuxu dostupným a používaným v české kotlině.</li>
          <li class="mb-1">Obsah je dostupný pod <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.cs" target="_blank">licencí Creative Commons Uveďte původ - Zachovejte licenci 4.0 Mezinárodní</a>.</li>
          <li class="mb-1">&copy; {{ site.time | date: '%Y' }} {{ site.title }} - pod záštitou <a href="https://www.openalt.org/">OpenAlt z.s.</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{% include analytics-footer.html %}
