<meta charset="utf-8" />
{% seo %}
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
<link rel="home" href="{{ '/' | relative_url }}" />
<link rel="icon" href="{{ '/assets/img/layout/tux.svg' | relative_url }}" type="image/svg+xml" />
<link rel="icon" href="{{ '/assets/img/layout/favicon.ico' | relative_url }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" media="screen" href="{{ '/assets/css/style.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/vendor/fontawesome-free-5.15.4-web/css/all.min.css' | relative_url }}">

<script src="{{ '/assets/vendor/bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js' | relative_url }}"></script>

<script src="{{ '/assets/js/external-links.js' | relative_url }}"></script>
<script src="{{ '/assets/js/target-links.js' | relative_url }}"></script>
{% for script in page.scripts %}<script src="{{ '/assets/js/' | append: script | relative_url }}"></script>{% endfor %}

{% include analytics.html %}
