<header class="navbar navbar-expand-lg bd-navbar sticky-top">
  <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
    <a class="navbar-brand p-0 me-0 me-lg-2 text-decoration-none" href="{{ '/' | relative_url }}">
      Linux.cz
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="flex-row flex-wrap flex-grow-1 justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav bd-navbar-nav">
        {% for item in site.navigation.pages %}
          {% include header/nav-item.html item=item %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
