---
---

@import "../vendor/bootstrap-5.3.3/scss/bootstrap";

html {
  scroll-padding-top: 64px; // approximate height of the navbar
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
}

a {
  &:link {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &[href^="http://"]:not([href*="proc.linux.cz"]):after,
  &[href^="https://"]:not([href*="proc.linux.cz"]):after {
    content: "\21D7";
    vertical-align: super;
    font-size: 0.8em;
  }
}

header {
  background-color: #f3cc0b;
  border-bottom: 1px solid black;

  .navbar-brand {
    font-size: 2em;

    &::before {
      content: '';
      display: inline-block;
      width: 2em;
      height: 1em;
      background-image: url('../img/layout/tux.svg');
      background-size: cover;
    }
  }

  ul {
    font-size: 1.3em;
  }

  a {
    color: #ac0000 !important;
  }
}

/** MAIN content **/

main {
  color: #555;
}

h2, h3 {
  img {
    max-width: 1em;
    max-height: 1em;
    padding-bottom: 2px;
  }
}

details {
  &:not([open]) > summary,
  &[open] {
    border-bottom: 1px solid black;
  }

  &:not([open]) > summary h2::before,
  &:not([open]) > summary h3::before {
    content: '+';
  }

  &[open] > summary h2::before,
  &[open] > summary h3::before {
    content: '−';
  }

  & > summary {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::-webkit-details-marker {
      display: none;
    }

    h2, h3 {
      margin: 0;
      border: 0;

      &::before {
        display: inline;
        padding-right: 0.5em;
      }
    }

    .distro-badges {
      list-style-type: none;
      margin: 0;

      li {
        display: inline;

        &:not(:last-child) {
          margin-right: 0.2em;
        }

        & > * {
          max-height: 1em;
          font-size: 1em;
          vertical-align: middle;
        }
      }
    }
  }
}

details[open],
.highlight {
  animation-name: highlightTarget;
  animation-duration: 0.6s;
}

.table {
  table-layout: fixed;

  th {
    font-size: 1.2em;
  }
}

#intro {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  @media (max-width: 760px) {
    display: none;
  }

  li {
    flex: 1;
    text-align: center;
    min-width: 18em;
    padding: 2.5em 0;
  }

  i {
    position: relative;
    font-size: 8em;
  }

  img {
    position: absolute;
    top: 25%;
    left: 39%;
    width: 22%;
  }
}

.icons-flex {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  li {
    flex: 1;
    text-align: center;
    min-width: 96px;
    padding: 1.5em 0;
  }

  &.wider li {
    min-width: 114px;
    margin: 0 3px;
  }

  .fas,
  .far,
  .fab,
  img {
    display: block;
    font-size: 3em;
    margin: 0.3em auto;
  }

  img {
    height: 1em;
  }

  a {
    color: inherit;
    display: inline-block;

    &:hover {
      text-decoration: none;
      font-weight: bolder;
    }
  }
}

@keyframes highlightTarget {
  50% {
    background-color: #f3cc0b;
  }
  to {
    background-color: initial;
  }
}

.fa-download {
  color: green;
}

.distro-links {
  text-align: right;
  list-style-type: none;
  clear: both;

  li {
    display: inline;

    &:not(:last-child)::after {
      display: inline;
      content: '|';
      padding-left: 0.25em;
    }
  }

  .fas:not(.fa-download),
  .far:not(.fa-download) {
    color: #555;
  }
}

.distro-screenshot {
  float: right;
  margin: 0 0 0.5em 0.5em;
}

.mp {
  background-color: lightgrey;
}

footer {
  border-top: 3px solid #f3cc0b;
  font-size: 0.8em;
}
