{% for p in site.pages %}
  {% if include.item.external or p.url == include.item.url %}
    <li class="nav-item">
      <a class="nav-link py-2 px-0 px-lg-2 {% if page.url contains include.item.url %}active{% endif %}" {% if page.url contains include.item.url %}aria-current="true"{% endif %} href="{{ p.url | relative_url }}">
        {% if include.item.title %}{{ include.item.title }}{% else %}{{ p.title }}{% endif %}
      </a>
    </li>
    {% break %}
  {% endif %}
{% endfor %}
