<!DOCTYPE html>
<html lang="{{ site.lang }}" class="h-100">
<head>
  {% include head.html %}
</head>
<body class="min-vh-100">
  {% include header.html %}
  <main class="container mt-3 {% if page.default_layout_main_classes %}{{ page.default_layout_main_classes | join: ' ' }}{% endif %} {% if page.showtitle != true %}no-title{% endif %}">
    {% if page.showtitle == true %}
      <h1>{{ page.title }}</h1>
    {% endif %}
    {{ content }}
  </main>
  {% include footer.html %}
  <!-- Generated: {{ site.time }} -->
</body>
</html>
